/** @format */

@use "partials" as *;
@use "font";

.filter {
  padding: 22px;
  .title {
    @include main-text;
    font-size: 36px;
  }

  .search-icon-wrapper {
    height: 50px;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    overflow: "hidden";
    padding: 29px 0px;
    .place-holder {
      flex: 4;
      .MuiInputBase-root {
        overflow: hidden;
        input {
          background-color: $color-white;
        }
      }
    }
    .search-icon {
      flex: 1;
      display: flex;
      justify-self: center;
      align-items: center;
      background-color: #644c79;

      svg {
        margin: auto;
      }
    }
  }

  .toggle-component {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    p {
      @include main-text;
      text-align: left;
    }

    label {
      overflow: hidden;
      display: flex;
      justify-content: start;
      width: 100%;
      margin: 0 !important;
    }

    span.MuiTypography-root {
      @include main-text;
      font-family: "Karbon Regular";
      font-size: 20px;
      text-align: left;
      height: 100%;
    }

    .MuiSwitch-root {
      width: 80px;
      height: 40px;

      .css-n0od51-MuiSwitch-root {
        width: 18px;
        height: 18px;
      }
    }
  }

  .user-select {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 50px 0px;

    p {
      @include main-text;
      font-size: 14px;
      text-align: left;
    }
    .MuiInputBase-root {
      background-color: #fff;
      margin-top: 10px;
      padding-left: 10px;
      text-align: left;
      width: 100% !important;
      height: 50px !important;
      border: 1px solid $color-primary;

      &:before {
        display: none !important;
      }

      .MuiInputBase-root .MuiSvgIcon-root {
        border: "2px solid red" !important;
        border-radius: 50%;
        top: 8px;
        padding: 5px;
      }
    }
  }

  .reset-filters {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    MuiInputBase-roo {
      border: 2px solid #644c79;
    }

    p {
      @include main-text;
      text-align: left;
      font-family: "Karbon Regular";
      text-transform: none;
      cursor: pointer;
      text-decoration-line: underline;
      text-decoration-color: $color-primary;
      text-decoration-thickness: 1px;
    }
  }
}
