/** @format */

@use "partials" as *;
@use "font";

.filter-wrapper {
  padding: 22px;

  .title {
    @include main-text;
    font-size: 36px;
  }

  .filter-component {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .search-icon-wrapper {
    height: 50px;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    overflow: "hidden";
    padding: 29px 0px;
    .place-holder {
      flex: 4;
      .MuiInputBase-root {
        overflow: hidden;
        input {
          background-color: $color-white;
        }
      }
    }
    .search-icon {
      flex: 1;
      display: flex;
      justify-self: center;
      align-items: center;
      background-color: #644c79;
      height: 100%;

      svg {
        margin: auto;
      }
      @media screen and (max-width: 600px) {
        height: 40px;
      }
    }
    @media screen and (max-width: 1100px) and (min-width: 600px) {
      flex: 1;
      height: 50px;
      justify-content: space-around;
      align-items: center;
      .search-icon {
        height: 55px;
      }
    }

    @media screen and (max-width: 600px) {
      padding: 0px;
      height: 40px;
      .search-icon {
        height: 40px;
      }
    }
  }

  .toggle-component {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    p {
      @include main-text;
      text-align: left;
    }

    label {
      overflow: hidden;
      display: flex;
      justify-content: start;
      width: 100%;
      margin: 0 !important;
    }

    span.MuiTypography-root {
      @include main-text;
      font-family: "Karbon Regular";
      font-size: 20px;
      text-align: left;
      height: 100%;
    }

    .MuiSwitch-root {
      width: 80px;
      height: 40px;

      .css-n0od51-MuiSwitch-root {
        width: 18px;
        height: 18px;
      }
    }
    @media screen and (max-width: 1100px) {
      width: 30%;
      margin-top: 0px;
      flex: 1;

      p {
        text-align: center;
      }

      label {
        display: flex;
        justify-content: center;
      }

      .MuiSwitch-root {
        width: 80px;
        height: 40px;

        .css-n0od51-MuiSwitch-root {
          width: 10px;
          height: 10px;
        }
      }
    }

    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: row !important;
      padding: 10px 30px;
      justify-content: space-between;
      align-items: center;

      label {
        width: 30%;

        .MuiTypography-root {
          height: 25px;
        }
      }
    }
  }

  .user-select {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 50px 0px;
    width: 100%;

    p {
      @include main-text;
      font-size: 16px;
      text-align: left;
      @media screen and (max-width: 800px) {
        display: none;
      }
    }

    .place-holder {
      display: none;
      @media screen and (max-width: 800px) {
        display: block;
      }
    }
    .MuiInputBase-root {
      background-color: #fff;
      margin-top: 10px;
      padding-left: 10px;
      text-align: left;
      width: 100% !important;
      height: 50px !important;
      border: 1px solid $color-primary;

      &:before {
        display: none !important;
      }

      .MuiInputBase-root .MuiSvgIcon-root {
        border: "2px solid red" !important;
        border-radius: 50%;
        top: 8px;
        padding: 5px;
      }
    }

    @media screen and (max-width: 1100px) {
      margin: 0;
      width: 30%;
      flex: 1;
      .MuiInput-underline {
        margin-top: 0px;
      }
    }

    @media screen and (max-width: 600px) {
      .MuiInputBase-root {
        height: 40px !important;
      }
    }
  }

  .reset-filters {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    MuiInputBase-roo {
      border: 2px solid #644c79;
    }

    p {
      @include main-text;
      text-align: left;
      font-family: "Karbon Regular";
      text-transform: none;
      cursor: pointer;
      text-decoration-line: underline;
      text-decoration-color: $color-primary;
      text-decoration-thickness: 1px;
    }

    @media screen and (max-width: 1100px) {
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 1100px) and (min-width: 600px) {
    .filter-component {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
    }
  }

  @media screen and (max-width: 600px) {
    .filter-component {
      width: 100%;

      > div {
        width: 100%;
      }
    }
  }
}
