/** @format */
@use "partials" as *;

.layout {
  @include layout;
  height: 100%;

  @media screen and (max-width: 1100px) {
    margin-top: 90px;
  }
}

.todos-page-container {
  display: flex;
  max-width: 1280px;
  padding: 0px !important;

  @media screen and (max-width: 1100px) {
    flex-direction: column;
    width: 100%;
    padding: 30px;

    .MuiContainer-root {
      padding: 0;
    }
  }
}

.filter-container {
  width: 330px !important;
  background: url("img/Rettangolo 2.svg") 0% 0% no-repeat padding-box;
  height: 523px;
  margin-right: 60px !important;

  @media screen and (max-width: 1200px) {
    width: 230px !important;
    margin-right: 40px !important;
  }
  .filters-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 1100px) {
    width: 100% !important;
    margin: 20px 0px;
    margin-right: 0 !important;
    height: 250px;
    .filters-wrapper {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }
}

.todos-list-container {
  width: 830px !important;
  height: 690px;
  div {
    background: url("img/Rettangolo 2.svg") 0% 0% no-repeat padding-box;
    thead {
      border-bottom: solid 3px black;
      th {
        padding-bottom: 0px !important;
      }
    }
  }
  .table-head-title {
    @include main-text;
  }

  @media screen and (max-width: 1200px) {
    width: 730px !important;
  }

  @media screen and (max-width: 1100px) {
    width: 100% !important;
    .filters-wrapper {
      flex-direction: row;
      padding: 50px;
      justify-content: space-around;
      align-items: center;
    }
  }
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px 5px 30px;
  border-bottom: 1px solid black;
}

.pagination-container {
  display: flex;
  justify-content: center;
  height: 50px;

  .MuiPagination-ul li:first-child,
  .MuiPagination-ul li:last-child {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    opacity: 0.5;
  }
  .MuiPaginationItem-root.Mui-selected {
    background-color: $color-primary !important;
  }
}
